header#page-header {
    background-image: none !important;
    background-color: transparent !important;
}

#footer {
    background-image: none !important;
    background-color: transparent !important;
}